<div class="header">
  <h3 class="title is-3"><%= @conversation.book.title %></h3>
</div>
<div class="convo-container2 overflow">
  <table>
    <tbody>
      <% @messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>
          <tr>
            
              <td class="right"><%= message.body %><br><small><%= message.message_time %></small></td>
            
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div id="msg-footer" class="card-footer">
  <%= form_for [@conversation, @message] do |f| %>
    <%= f.text_area :body, class: "form-control, msg-input" %>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <%= f.submit "Send message", class: "btn btn-primary btn-round" %>
  <% end %>
<div>