<div class="card" style="width: 18rem; max-height:450px; overflow:auto;">
  <%= link_to book do %>
  <img class="card-img-top"><%= image_tag book.cover, :class => 'book_cover_img' %></img>
  <div class="card-body">
    <h5 class="card-title"><%= book.title %></h5>
    <p class="card-subtitle"><strong><%= book.author %></strong></p>
    <% end %>
    <br>
    <p class="card-text">Condition: <%= book.book_condition %></p>
  </div>
  <div class="card-footer">
      <small class="text-muted">Posted <%= time_ago_in_words(book.created_at) %> ago</small>
    </div>
</div>




  

