<div class="card" style="width: 18rem;">
  <%= link_to book do %>
  <img class="card-img-top"><%= image_tag book.cover, :class => 'book_cover_img' %></img>
  <div class="card-body">
    <h5 class="card-title"><%= book.title %></h5>
    <% end %>
    <p> Author: </p>
    <h6 class="card-title"><%= book.author %></h6>
    <p> Condition: </p>
    <p class="card-text"><%= book.book_condition %></p>
    <p> Listed at: </p>
    <p class="card-text"><%= time_ago_in_words(book.created_at) %> ago</p>
    <p> Listed by: </p>
    <h6 class="card-title"><%= book.user.name %></h6>
    
  </div>
</div>



  

