<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <section class="books-new">

      <header>
        <h1>List a Book</h1>
      </header>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <%= form_for :book, url: books_new_path do |form| %>

            <div class="form-group">
              <%= form.label :image, class: 'upload_img_btn' %><br>
              <%= form.file_field :image %>
              <%= image_tag src='', id: 'image2' %>
            </div>

            <div class="form-group">
            <%= form.label :title %><br>
            <%= form.text_field :title, id: 'mylist', class: 'form-control awesomplete', :required => true, autofocus: true %>
            <%= image_tag "http://www.broadwaybalancesamerica.com/images/ajax-loader.gif", width: 150, height: 90, id: 'spinner' %>

            </div>

            <div class="form-group">
            <%= form.label :author %>
            <%= form.text_field :author, id: 'author', class: 'form-control', :required => true %>
            </div>

            <div class="form-group select">
              <%= form.label :condition %><br>
              <%= form.select :book_condition, 
              [ "",
                "Like new",
                "Well read", 
                "Decent", 
                "Seen Better Days"
              ], :required => true %>
            </div>

            <div class="form-group">
              <%= form.label :wishlist %>
              <%= form.text_area :wishlist, class: 'form-control', :required => true %>
            </div>
            
            <div class="form-group hidden">
            <%= form.label :publisher %>
            <%= form.text_field :publisher, id: 'publisher', class: 'form-control' %>
            </div>
            
            <div class="form-group hidden">
            <%= form.label :rating %>
            <%= form.text_field :rating, id: 'rating', class: 'form-control' %>
            </div>
            
            <div class="form-group hidden">
            <%= form.label :pub_date %>
            <%= form.text_field :pub_date, id: 'pub_date', class: 'form-control' %>
            </div>
            
            <div class="form-group hidden">
            <%= form.label :cover %>
            <%= form.text_field :cover, id: 'cover', class: 'form-control' %>
            </div>
            
            <div class="form-group hidden">
            <%= form.label :description %>
            <%= form.text_field :description, id: 'description', class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :category %>
              <%= form.text_field :category, class: 'form-control', id: 'category' %>
            </div>

           
            <div class="form-group">
            <%= form.label :location %>
            <%= form.text_field :location, 
            class: 'form-control', 
            id: 'search', 
            placeholder: 'Enter Postal Code',
            pattern: '^(?!.*[DFIOQU])[A-VXY][0-9][A-Z] ?[0-9][A-Z][0-9]$',
            :required => true %>
            </div>
            <div class='postal_code_ex'>
              T3K 5Z5
            </div>
            <div>
              <div id="map"></div>
            </div>
            <br>

            <%= form.submit 'List Book', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    <%= render 'books/list_map' %>     
    </section>
  </body>
</html>