<section class="books-new">
  <div class="swap-form row">
    <h1 class="display-5">Create Swap</h1>
    <%= form_for :book, url: books_new_path do |form| %><br>
      <%= image_tag src='', id: 'image2' %><br><br>
      
      <div class="form-group">
        <%= form.text_field :title, id: 'mylist', class: 'form-control awesomplete', placeholder: "Title", :required => true, autofocus: true %>
        <%= form.text_field :author, id: 'author', class: 'form-control', placeholder: "Author", :required => true %>
         
        <%= form.label "Add a photo:" %><br>
        <%= form.file_field :image %><br><br>

        <%= form.label "What condition is your book in?" %><br>
        <%= form.select :book_condition,[ "","Like new","Good","Well read","Seen Better Days"], :required => true %>
          
        <%= form.text_area :wishlist, class: 'form-control', placeholder: 'Swap details and comments', :required => true %>
      
      </div> 
      <div class="form-group hidden">
        
        <%= form.label :cover %>
        <%= form.text_field :cover, id: 'cover', class: 'form-control' %>
        
        <%= form.label :description %>
        <%= form.text_field :description, id: 'description', class: 'form-control' %>
      
        <%= form.label :category %>
        <%= form.text_field :category, class: 'form-control', id: 'category' %>
      
      </div>
      <div class="form-group">

        <%= form.label "Enter your postal code:" %>
        <%= form.text_field :location, 
        class: 'form-control', 
        id: 'search', 
        placeholder: 'Ex. T3K 5Z5',
        :required => true %>
      </div>

      <div id="map"></div><br>
      <%= form.submit 'List Book', class: 'btn btn-primary' %>
    <% end %>
  </div> 
</section>
<%= render 'books/list_map' %>   