

<div class="card mb-3" style="max-width: 790px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if (@book.cover) %> 
        <%= image_tag @book.cover, :class => "book_cover_img" %>
      <% elsif %>
        <%= image_tag @book.image.thumb %>
      <% else %>
        <%= image_tag 'https://apps3.awi.de/YPP/png/no-image.png' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> 
          <% if (@book.title).eql?('undefined' || '') %> 
          <% else %>
            <%= @book.title %>
          <% end %>
        </h5>
        <h6 class="card-subtitle">
          <% if (@book.author).eql?('undefined' || '') %> 
          <% else %>
            <%= @book.author %>
          <% end %>
        </h6>
        <br>
        <p class="card-text">
          <% if (@book.description).eql?('undefined' || '') %> 
          <% else %>
            <%= @book.description %>
          <% end %>
        </p>
        <p class="card-text"><small class="text-muted">
          <% if (@book.category).eql?('undefined' || '') %> 
          <% else %>
            <%= @book.category %>
          <% end %>
        </p>
        <p class="card-text"><small class="text-muted">
          <% if (@book.book_condition).eql?('undefined' || '') %> 
          <% else %>
            <%= @book.book_condition %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="listing_details">

  <% if (@book.book_condition).blank? %> 
    <% else %>
    <p>
    <strong>Condition:</strong>
    <%= @book.book_condition %>
    </p>
    <% end %>


    <% if (@book.wishlist).eql?('undefined' || '') %> 
    <p>
      <strong>Wishlist:</strong>
      <%= @book.wishlist %>
    </p>
    <% else %>
  <% end %>

  <p>
    <strong>Location:</strong>
    <%= @book.location %>
  </p>
  
  <div id='show_map'>
    <p>View map</p>
  </div>

  <%= render 'books/maps' %>

  <!DOCTYPE html>
    <html>
      <script>
     

      e = jQuery.Event("keypress")
      e.which = 13
      
      
      let message = '<%= (@book.location) %>';
        $(document).ready(function() {
         
          $("#show_map").on('click', function () {
            
            $("#pac-input").val(message)
            $("#pac-input").focus()
            setTimeout(function(){
              $("#pac-input").keypress(function(){
               }).trigger(e)
               e.preventDefault();
              return false;
            }, 600);
            
            $(document).on('keypress',function(e) {
              if (e.which == 13) {
                console.log('You pressed enter!');
              }
            });

          
            })
        
          $("#description_paragraph").hide()	
          $("#descrip_click").on('click', function () {
            $("#description_paragraph").slideToggle("slow", function() { 	
            })	
          });	
        });	
      </script>
    </html>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @book.user.name %></h5>
    
    <a href="#" class="btn btn-primary">Send Message</a>
  </div>
</div>

<% if current_user.id != @book.user_id %>
      <%= link_to "Send message to #{@book.user.name}", conversations_path(sender_id: current_user.id, recipient_id: @book.user.id), method: 'post', class:"button is-link" %>
   
    <% end %>

<div class="column is-3 is-offset-1">
    
    <div class="listing_details">
      <p>
        <strong>Swap Author: </strong>
        <%= @book.user.name %>
      </p>

    
  </div>
 