<div class="top"></div>

<p>
  <%= image_tag @book.image.thumb %>
  <%= image_tag src='', id: 'image2' %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Wishlist:</strong>
  <%= @book.wishlist %>
</p>

<p>
  <strong>Location:</strong>
  <%= @book.location %>
</p>

