<h1> Listing Details </h1>
<div class="listing_details">
  <% if (@book.cover) %> 
    <p>
      <%= image_tag @book.cover, :class => "book_cover_img" %>
    </p>
    <% elsif %>
      <%= image_tag @book.image.thumb %>
    <% else %>
      <%= image_tag 'https://apps3.awi.de/YPP/png/no-image.png' %>
  <% end %>

  <% if (@book.title).eql?('undefined' || '') %> 
    <% else %>
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>
  <% end %>

  <% if (@book.author).eql?('undefined' || '') %> 
    <% else %>
    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>
  <% end %>

  <% if (@book.category).eql?('undefined' || '') %> 
    <% else %>
    <p>
      <strong>Genre:</strong>
      <%= @book.category %>
    </p>
  <% end %>

  <% if (@book.book_condition).blank? %> 
    <% else %>
    <p>
    <strong>Condition:</strong>
    <%= @book.book_condition %>
    </p>
    <% end %>

    <% if (@book.publisher).eql?('undefined' || '') %> 
    <% else %>
    <p>
      <strong>Publisher:</strong>
      <%= @book.publisher %>
    </p>
  <% end %>

  <% if (@book.pub_date).eql?('undefined' || '') %>
    <% else %>
    <p>
      <strong>Publisher Date:</strong>
      <%= @book.pub_date %>
    </p>
  <% end %>

  <% if (@book.rating).eql?("undefined" || '') %> 
    <% else %>
    <p>
  <strong>Rating:</strong>
  <%= @book.rating %>/5
  </p>
    <% end %>

    <% if (@book.description).eql?('undefined' || '') %> 
    <% else %>
      <strong id='descrip_click'><u>View Description</u></strong>
    <p id='description_paragraph'>
      <%= @book.description %>
    </p>
  <% end %>

    <% if (@book.wishlist).eql?('undefined' || '') %> 
    <p>
      <strong>Wishlist:</strong>
      <%= @book.wishlist %>
    </p>
    <% else %>
  <% end %>

  <p>
    <strong>Location:</strong>
    <%= @book.location %>
  </p>
  
  <div id='show_map'>
    <p>View map</p>
  </div>

  


  <%= render 'books/maps' %>

  <!DOCTYPE html>
    <html>
      <script>
     

      e = jQuery.Event("keypress")
      e.which = 13
      
      
      let message = '<%= (@book.location) %>';
        $(document).ready(function() {
          $("#map").hide()
          $("#show_map").on('click', function () {
            
            $("#pac-input").val(message)
            $("#pac-input").focus()
            setTimeout(function(){
              $("#pac-input").keypress(function(){
                alert('keypress triggered')
               }).trigger(e)
              return false;
            }, 600);
            
            $(document).on('keypress',function(e) {
              if(e.which == 13) {
                  console.log('You pressed enter!');
              }
          });
            $("#map").show()
            })
        
          $("#description_paragraph").hide()	
          $("#descrip_click").on('click', function () {
            $("#description_paragraph").slideToggle("slow", function() { 	
            })	
          });	
        });	
      </script>
    </html>
</div>

<div class="column is-3 is-offset-1">
    <% if book_author(@book) %>
      <div class="bg-light pa3 mb4 border-radius-3">
        <p class="f6 pb1">Author actions:</p>
        <div class="button-group">
          
          <%= link_to "Back", books_path, class: "button is-small" %>
        </div>
      </div>
    <% end %>
    <div class="listing_details">
      <p>
        <strong>Swap Author: </strong>
        <%= @book.user.name %>
      </p>

    
    <% if current_user.id != @book.user_id %>
      <%= link_to "Send message to #{@book.user.name}", conversations_path(sender_id: current_user.id, recipient_id: @book.user.id), method: 'post', class:"button is-link" %>
    <% elsif current_user.id == @book.user_id  %>
      <%= link_to "Conversations", conversations_path %>
    <% else %>

    <%= link_to "Login to message #{@book.user.name}", new_user_registration_path %>
    <% end %>
  </div>
 