<div class="listing_details">
  <% if (@book.cover) %> 
    <p>
      <%= image_tag @book.cover, :class => "book_cover_img" %>
    </p>
    <% elsif %>
      <%= image_tag @book.image.thumb %>
    <% else %>
      <%= image_tag 'https://apps3.awi.de/YPP/png/no-image.png' %>
  <% end %>

  <% if (@book.title).eql?('undefined' || '') %> 
    <% else %>
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>
  <% end %>

  <% if (@book.author).eql?('undefined' || '') %> 
    <% else %>
    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>
  <% end %>

  <% if (@book.category).eql?('undefined' || '') %> 
    <% else %>
    <p>
      <strong>Genre:</strong>
      <%= @book.category %>
    </p>
  <% end %>

  <% if (@book.book_condition).blank? %> 
    <% else %>
    <p>
    <strong>Condition:</strong>
    <%= @book.book_condition %>
    </p>
    <% end %>

    <% if (@book.publisher).eql?('undefined' || '') %> 
    <% else %>
    <p>
      <strong>Publisher:</strong>
      <%= @book.publisher %>
    </p>
  <% end %>

  <% if (@book.pub_date).eql?('undefined' || '') %>
    <% else %>
    <p>
      <strong>Publisher Date:</strong>
      <%= @book.pub_date %>
    </p>
  <% end %>

  <% if (@book.rating).eql?("undefined" || '') %> 
    <% else %>
    <p>
  <strong>Rating:</strong>
  <%= @book.rating %>/5
  </p>
    <% end %>

    <% if (@book.description).eql?('undefined' || '') %> 
    <% else %>
      <strong id='descrip_click'><u>View Description</u></strong>
    <p id='description_paragraph'>
      <%= @book.description %>
    </p>
  <% end %>

    <% if (@book.wishlist).eql?('undefined' || '') %> 
    <p>
      <strong>Wishlist:</strong>
      <%= @book.wishlist %>
    </p>
    <% else %>
  <% end %>

  <% if (@book.location).eql?('undefined' || '') %> 
  <p>
    <strong>Location:</strong>
    <%= @book.location %>
  </p>
    <% else %>
  <% end %>
  <div id='show_map'>
    <p><u><strong>View map</strong></u></p>
  </div>
</div>



<%= render 'books/maps' %>

<!DOCTYPE html>
<html>
<script>

// hide an show map

  $(document).ready(function() {
      $("#map").hide()
      $("#show_map").on('click', function () {
        $("#map").slideToggle("fast", function() { 
        })
      });
    });
  
  // hide an show description
  
  $(document).ready(function() {	
    $("#description_paragraph").hide()	
    $("#descrip_click").on('click', function () {
      console.log('description clicked')	
      $("#description_paragraph").slideToggle("slow", function() { 	
      })	
    });	
  });	

</script>
</html>