<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">BookSwap</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/books">Books</a>
      </li>
      <% if current_user %>
        <li class="user-info">
        <a class="nav-item active">Signed in as <%= current_user.name %></a> 
        </li>
        <li>
        <a class="nav-item active"><%= link_to 'Logout', '/logout' %></a>
        </li>
        <% else %>
        <li class="user-info">
        <a class="nav-item active"><%= link_to 'Login', '/login' %></a>
        </li>
        <li class="user-info">
        <a class="nav-item active"><%= link_to 'Signup', '/signup' %></a>
        </li>
        <% end %>
    </ul>

    <%= form_tag(search_path, method: :get, class: "form-inline my-2 my-lg-0 ml-auto") do %>  
      <div class="input-group">  
        <%= search_field_tag :term, params[:term], placeholder: "Search books", class: "form-control mr-sm-2" %>  
        <div class="input-group-btn">  
          <%= submit_tag 'Search', class: "btn btn-primary my-2 my-sm-0" %> 
        </div>  
      </div>  
    <% end %>

  </div>
</nav>
