<!DOCTYPE html>
<html>
<head>
  <title>Bookswap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>

  img {
    padding-right: 20px
  }
    .suggestion-img {
      width: 60px;
      height: 60px;
    }
    .suggestion-title {
      font-weight: bold;
      padding-bottom: 5px;
    }
    .suggestion-description {
      display: none;
    }
    .suggestion-author {
      font-size: 3.5mm;
    }
    .suggestion-category {
      display: none;
    }
    .suggestion-rating {
      display: none;
    }
    .suggestion-cover {
      display: none
    }
    .suggestion {
      border: 1px solid black;
      display: flex;
      padding: 5px;
    }
    .suggestion-publisher {
      display: none;
    }
    .suggestion-rate {
      display: none;
    }
    .suggestion-pub_date {
      display: none;
    }

  </style>
</head>
<body>

<%= render 'layouts/top_nav' %>

<%= yield %>

<script>
  const createSuggestionHTML = (data) => {
    return `
      <li class='suggestion'>
        <img class='suggestion-img' src='${data.volumeInfo.imageLinks.smallThumbnail}' />
        <h6 class='suggestion-title'>${data.volumeInfo.title}</h6><br>
        <em><span class='suggestion-author'>${data.volumeInfo.authors}</span></em>
        <span class='suggestion-description'>${data.volumeInfo.description}</span>
        <span class='suggestion-category'>${data.volumeInfo.categories}</span><br>
        
        <span class='suggestion-rating'>rating: ${data.volumeInfo.averageRating}/5</span>
        <span class='suggestion-cover'>${data.volumeInfo.imageLinks.smallThumbnail}</span>
        <span class='suggestion-publisher'>${data.volumeInfo.publisher}</span>
        <span class='suggestion-pub_date'>${data.volumeInfo.publishedDate}</span>
        <span class='suggestion-rate'>${data.volumeInfo.averageRating}</span>
      </li>
    `
  }
  
  //  <span class='suggestion-medium'>${data.volumeInfo.imageLinks.medium}</span>


  const makeList = (data) => {
    const $list = $("<ul id='mylist'></ul>");
    return data.map(suggestion => {
      return createSuggestionHTML(suggestion)
    })
    /**data.forEach(suggestion => {
      $list.append(createSuggestionHTML(suggestion))
    })
    
    return $list[0]
    */
  }

    $("#suggestion-text").click(function() {
      console.log('hello');
    });
  

  $.get({
    url: "https://www.googleapis.com/books/v1/volumes?q=harry+potter&maxResults=40&key=AIzaSyC05rXB78lSs4nwE6Lb8p-f5CQUEHsHAr8",
    success: function(response) {
       
        const list = makeList(response.items)
        new Awesomplete(document.querySelector("#mylist"),{
          list: list,
          // text below is the created suggestion html from createSuggestionHTML
          replace: function(text) {
            const $suggestion = $(text.label);
            console.log("suggestion", $suggestion)

            const title = $suggestion.find('.suggestion-title').text();
            this.input.value = title;
            console.log(title)

            const author = $suggestion.find('.suggestion-author').text();
            $('#author').val(author);

            const cover = $suggestion.find('.suggestion-cover').text();
            $('#cover').val(cover);

            const img = $suggestion.find('.suggestion-img').attr('src');
            $("#image2").attr("src", img);

            const category = $suggestion.find('.suggestion-category').text();
            $('#category').val(category);
            
            const rating = $suggestion.find('.suggestion-rate').text();
            $('#rating').val(rating);

            const publisher = $suggestion.find('.suggestion-publisher').text();
            $('#publisher').val(publisher);

            const pub_date = $suggestion.find('.suggestion-pub_date').text();
            $('#pub_date').val(pub_date);

            const description = $suggestion.find('.suggestion-description').text();
            $('#description').val(description);
          }
        });
      }
  });
</script>
</body>
</html>
